* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F9F9F9;
}

/* dark mode */
.dark .header{
    background:#191919;   
}

.dark .header span{
    color:#fff; 
}

.dark .header  .title-link{
    color:#fff;
}

.dark .container{
    background-color: #000000;
}

.dark .card{
    background: #191919;
}

.dark .card p{
    color:#fff;
}

.dark .details-container {
    background: #000000;
}

.dark .country-info2 span{
    color:#fff;
    font-weight: 900;
    font-size: 17px;
}

.dark .country-info2 h4{
    color:#EAF6F6;
}

.dark .border-title h4{
    color:#fff;
    font-weight: 900;
    font-size: 17px;
}

.dark .border span{
    color:#fff;
    border:1px solid #EAF6F6;
}


.dark .not-found-page {
    background: #000000;
}

.header {
    background-color: #F9F9F9;
    color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 5px;
}

.header .title-link {
    color: #1a1a1a;
    text-decoration: none;
}

.header button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.search-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 100px 50px 100px;
}

.search-menu .input {
    position: relative;
}

.search-menu input {
    width: 450px;
    height: 50px;
    padding-left: 45px;
    font-size: 17px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.search-menu .searchIcon {
    position: absolute;
    top: 15px;
    left: 15px;
    color: black;

}

.search-menu select {
    width: 200px;
    height: 40px;
    font-size: 17px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 8px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 100px;
}

.content .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    width: 250px;
    margin: 25px 0;
    padding-bottom: 10px;
}


.content .card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 160px;
    padding-bottom: 5px;

}

.card p {
    padding-left: 15px;
    padding-bottom: 3px;
    color: #1a1a1a;

}

.card .ulkeAdi {
    font-size: 19px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.content .card span {
    font-weight: 600;

}

.not-found-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.not-found-page img {
    width: 400px;
}

.not-found-page button {
    padding: 15px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid #ddd;
    background-color: #F9F9F9;
    font-size: 17px;
    cursor: pointer;

}

.not-found-page .page-not-found-link {
    color: #1a1a1a;
    text-decoration: none;
}

.not-found-page button:hover {
    padding: 15px 30px;
    box-shadow: rgba(50, 50, 93, 0.4) 0px 6px 12px -2px, rgba(0, 0, 0, 0.5) 0px 3px 7px -3px;
}


.details-container {
    margin-top: 70px;
    padding: 0 100px;
    height: 95vh;
}

.details-container button {
    margin: 50px 0;
    padding: 8px 5px;
    outline: none;
    width: 100px;
    font-size: 20px;
    background: #F9F9F9;
    border: 1px solid #ddd;
    color: #1B2430;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.country-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.flag-area {
    width: 40%;
}

.flag-area img {
    width: 100%;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
}

.country-info {
    width: 60%;
}

.country-info h2 {
    text-align: center;
}

.country-info2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    flex-basis: 50%;
}

.country-info2 h4 {
    color: #343a40;
    padding-bottom: 8px;
}

.country-info2 span {
    color: #1a1a1a;
}


.borders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.borders .border-title {
    margin-bottom: 25px;
}

.borders span {
    display: inline-block;
    padding: 10px;
    border: 1px solid #1a1a1a;
    margin: 2px;
}

@media screen and (max-width:992px) {
    .header {
        padding: 20px 50px;
    }

    .search-menu {
        padding: 120px 50px 50px 50px;
    }

    .content {
        padding: 0 50px;
    }

    .details-container {
        padding: 0 50px;
    }
}


@media screen and (max-width:768px) {

    .card {
        width: 210px !important;
    }

    .country-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .flag-area {
        width: 100%;
        margin-bottom: 20px;
    }

    .country-info {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .header {
        padding: 20px 20px;
    }

    .search-menu {
        flex-direction: column;
        padding: 120px 20px 20px 20px;
    }

    .search-menu input {
        width: 500px;
        margin-bottom: 10px;
    }

    .content {
        padding: 0 20px;
    }

    .card {
        width: 250px !important;
    }
}

@media screen and (max-width:600px) {

    .search-menu input {
        width: 350px;
        margin-bottom: 10px;
    }

    .content {
        padding: 0 20px;
    }

    .content {
        display: flex;
        justify-content: center;

    }

    .card {
        width: 300px !important;
    }

    .country-info2 {
        justify-content: space-between;
        align-items: center;
        margin-left: 0;
    }
}

@media screen and (max-width:414px) {
    .details-container {
        padding: 0 20px;
    }

    .country-info2 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .country-info2 h4 {
        font: size 14px;
    }

    .flag-area img {
        height: 250px;

    }
}